@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;900&display=swap');

body {
    font-family: 'Montserrat', sans-serif;  
    background-color: var(--darker); 
    color: var(--white);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

img {
    height: 7.5em;
    margin: 1em;
    margin-top: -4em;
    cursor: pointer;
}

.login-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 20em;
    width: 20em;
    background-color: var(--dark);
    border-radius: 2%;
    margin-bottom: 10em;
} 

::placeholder {
    color: white;
    opacity: 30%;
}

input {
    font-family: 'Montserrat', sans-serif;  
    background-color: var(--dark);
    text-align: center;
    font-size: 15px;
    color: white;
    outline: none;
    border-style: none;
    border-bottom: 2px solid var(--green);
    margin-top: 3em;
    height: 2em;
    width: 16em;
}

button {
    font-family: 'Montserrat', sans-serif;  
    cursor: pointer;
    font-weight: 400;
    border-style: none;
    border-radius: 2%;
    padding: 10px 3em 10px;
    background-color: var(--green);
    color: black;
    margin-top: 3em;
    font-size: 20px;
    
}

button:hover {
    background-color: var(--darker);
    color: var(--white);
    transition: .5s;
}

::selection {
    color: #181818;
    background: var(--green);
}