@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,700;0,800;0,900;1,100;1,400&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--darker); 
    color: var(--light);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: var(--green);
    border-radius: 10px;
}

::selection {
    color: #181818;
    background: var(--green);
}

.fas {
    color: var(--green);
}

.fa-github {
    color: var(--green);
    text-decoration: none;
    font-size: 1.5em;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 1fr 80px;
    grid-template-areas:
      'header'
      'main'
      'footer';
    height: 100vh;
  }

/* main content begint hier ------------------------------------------------------- */

.main-header {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#welkom1 {
    font-weight: 500;
}

#welkom {
    font-weight: 800;
    font-size: 3em;
    color: var(--green);
}

.random {
    color: var(--green);
    font-size: 1.5em;
    font-weight: 800;
}

.welkom-image {
    height: 200px;
}

.main {
    grid-area: main;
    background-color: var(--darker);
}

.main-header {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding: 20px;
    height: 150px;
    background-color: var(--dark);
    color: white;
    border-radius: .2em;
    border-radius: 25px .2em 25px .2em;
    border-style: solid;
    border-color: var(--green);
/*     border-top: none; */
    border-bottom: none;
/*     border-right: none;*/
    border-left: none;
    border-width: 5px;
}

.main-overview {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(265px, 1fr));
    grid-auto-rows: 150px;
    grid-gap: 20px;
    margin: 20px;
}

.main-cards {
    column-count: 1;
    column-gap: 20px;
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 300px 300px 500px 300px 300px;
    grid-template-areas: "widget3 widget3"
                         "widget5 widget5"
                         "widget4 widget4"
                         "widget6 widget6"
                         "widget7 widget7";
}

.overviewcard {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: var(--dark);
    border-radius: 25px .2em 25px .2em;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: var(--dark);
    margin-bottom: 20px;
    -webkit-column-break-inside: avoid;
    padding: 24px;
    box-sizing: border-box;
    border-radius: 25px .5em 25px .5em;
}

/* APPARATEN BATTERIJ WIDGET ------------------------------------------------------- */

.widget1 {
    border-style: solid;
    border-color: var(--green);
    border-top: none;
    border-bottom: none;
    border-right: none;
/*     border-left: none; */
    border-width: 5px;
}

.widget1 img {
    height: 50px;
    margin: 5px;
}

.batterij-box {
    position: relative;
    width: 25%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#circle-image1-b {
    display: none;
}

#circle-image2-b {
    display: none;
}

#circle-image3-b {
    display: none;
}

#circle-image4-b {
    display: none;
}

.batterij-box .percent {
    position: relative;
    width: 110px;
    height: 150px;
}

.batterij-box .percent svg {
    position: relative;
    width: 99%;
    height: 120px;
    margin-top: 25px;
}

.batterij-box .percent svg circle {
    width: 100%;
    height: 150px;
    fill: none;
    stroke-width: 6;
    stroke: #000;
    transform: translate(5px,5px);
    stroke-dasharray: 320;
    stroke-dashoffset: 320;
    stroke-linecap: round;
}

.batterij-box .percent .circle1 circle:nth-child(1){
    stroke-dashoffset: 0;
    stroke: var(--darker);
}

.batterij-box .percent .circle1 circle:nth-child(2){
    stroke-dashoffset: 19.2;
    stroke: var(--green);

}

.batterij-box .percent .circle2 circle:nth-child(1){
    stroke-dashoffset: 0;
    stroke: var(--darker);
}

.batterij-box .percent .circle2 circle:nth-child(2){
    stroke-dashoffset: 175;
    stroke: orange;

}

.batterij-box .percent .circle3 circle:nth-child(1){
    stroke-dashoffset: 0;
    stroke: var(--darker);
}

.batterij-box .percent .circle3 circle:nth-child(2){
    stroke-dashoffset: 36;
    stroke: var(--green);

}

.batterij-box .percent .circle4 circle:nth-child(1){
    stroke-dashoffset: 0;
    stroke: var(--darker);
}

.batterij-box .percent .circle4 circle:nth-child(2){
    stroke-dashoffset: 249.6;
    stroke: darkred;

}

.batterij-box .percent .nummer {
    position: absolute;
    top: 3.5em;
    left: 0;
    width: 100%;
    height: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.batterij-tekst {
    position: relative;
    top: -20px;
    font-weight: 700;
    color: white;
}

.lightmode {
    display: none;
}

.batterij-box .percent .lightmode circle:nth-child(1){
    stroke-dashoffset: 0;
    stroke: var(--light);
}

/* APPARATEN BATTERIJ WIDGET EINDE -------------------------------------------------------*/

/* LICHTEN WIDGET -------------------------------------------------------*/

.widget2 {
    border-style: solid;
    border-color: var(--green);
    border-top: none;
/*     border-bottom: none; */
/*     border-right: none; */
    border-left: none;
    border-width: 5px;
}

.licht {
    background-color: var(--darker);
    width: 48%;
    text-align: center;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    box-sizing: border-box;
    border-radius: 25px .5em 25px .5em;
}

.licht-naam {
    border: solid 3px var(--green);
    border-left: none;
    border-top: none;
    border-bottom: none;
    padding-right: 5px;
}

.fa-lightbulb {
    color: var(--light);
    cursor: pointer;
}

.licht-rechts i {
    font-size: 32px;
}

.licht p {
    color: var(--light);
}

#licht1button, #licht2button {
    cursor: pointer;
    border: none;
    font-size: 16px;
    border-radius: 2px;
    margin-top: 10px;
    border-bottom-right-radius: 10px;
    width: 40px;
    transition: color .2s;
    background-color: var(--green);
    color: white;
}

#licht1button:hover, #licht2button:hover {
    background-color: var(--light);
    color: var(--darkerer);
}

/* LICHTEN WIDGET EINDE -------------------------------------------------------*/

/* WATERVERBRUIK WIDGET -------------------------------------------------------*/

.widget3 {
    grid-area: widget3;
        border-style: solid;
    border-color: var(--green);
/*     border-top: none; */
    border-bottom: none;
    border-right: none;
/*     border-left: none; */
    border-width: 5px;
    overflow: hidden;
    padding: 0;
}

.water-title {
    background-color: var(--green);
    width: 100%;
    text-align: center;
    border-radius: 10px 0px 0px 0px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.water-title p {
    font-size: 18px;
    font-weight: 400;
    color: white;
}

/* WATERVERBRUIK WIDGET EINDE-------------------------------------------------------*/

/* WEER WIDGET -------------------------------------------------------*/

.widget4 {
    grid-area: widget4;
    border-style: solid;
    border-color: var(--green);
    border-top: none;
/*     border-bottom: none; */
/*     border-right: none; */
    border-left: none;
    border-width: 5px;
    padding: 0;
    overflow: hidden;
}

.weather-title {
    background-color: var(--green);
    width: 100%;
    text-align: center;
    border-radius: 10px 0px 0px 0px;
}

.weather-title p {
    font-size: 18px;
    font-weight: 400;
    color: white;
}

.notification{
    background-color: red;
    display: none;
}

.notification p{
    color: white;
    font-size: 1.2em;
    margin: 0;
    text-align: center;
    padding: 10px 0;
}

.weather-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.weather-icon{
    width: 250px;
    background-color: #252525;
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.weather-description {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.weather-icon img{
    display: block;
    margin: 0 auto;
}

.temperature-value p{
    padding: 0;
    margin: 0;
    color: var(--green);
    font-size: 8em;
    text-align: center;
    cursor: pointer;
}

.temperature-value span{
    color: var(--green);
    font-size: 0.5em;
}

.temperature-description p{
    padding: 8px;
    margin: 0;
    color: white;
    text-align: center;
    font-size: 1.2em;
}

.location p{
    margin: 0;
    padding: 0;
    color: white;
    text-align: center;
    font-size: 0.8em;
}
/* WEER WIDGET EINDE-------------------------------------------------------*/

/* TEMP WIDGET ------------------------------------------------------- */

.widget5 {
    position: relative;
    grid-area: widget5;
    border-style: solid;
    border-color: var(--green);
/*     border-top: none; */
    border-bottom: none;
/*     border-right: none; */
    border-left: none;
    border-width: 5px;
    transition: 250ms background-color, 250ms color;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* TEMP WIDGET EINDE ------------------------------------------------------- */

/* GASVERBRUIK WIDGET ------------------------------------------------------- */

.widget6 {
    grid-area: widget6;
    overflow: hidden;
    border-style: solid;
    border-color: var(--green);
/*     border-top: none; */
    border-bottom: none;
/*     border-right: none; */
    border-left: none;
    border-width: 5px;
}

/* GASVERBRUIK WIDGET EINDE ------------------------------------------------------- */


/* MUZIEKSPELER WIDGET ------------------------------------------------------- */

.widget7 {
    grid-area: widget7;
    text-align: center;
    border-style: solid;
    border-color: var(--green);
    border-top: none;
/*     border-bottom: none; */
/*     border-right: none; */
    border-left: none;
    border-width: 5px;
}

.fa-spotify {
    color: var(--green);
    position: relative;
    float: right;
}

.fa-bluetooth-b {
    color: var(--green);
}

.widget7 h4 {
    margin-top: 0;
    margin-bottom: 0;
}

h4 i {
    font-size: 1.5em;
    margin-right: 10px;
}

.widget7 p {
    margin: 0;
    margin-bottom: 10px;
    font-size: 10px;
    opacity: 40%;
}

#muziek-cover {
    height: 120px;
    color: black;
    border-radius: 50%;
}

.muziek-animation {
    animation: rotate 15s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.level {
    width: 80%;
    margin: 2em 0 1em;
    appearance: none;
    background-color: var(--green);
    border-radius: 5px;
    height: 3px;
    color: red;
}

input[type=range] {
    -webkit-appearance: none
}

.level:focus {
    outline: none;
}

.level::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--green);
    width: 20px;
    height: 20px;
    border-radius: 25px;
    cursor: pointer;
}

input[type=range]::-moz-range-progress {
    height: 1em;
  }

.level::-moz-range-thumb{
    width: 50px;
    height: 50px;
}

.buttons7 {
    display: inline-block;
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
}

.buttons7 button {
    width: 25;
    height: 25px;
    border-radius: 50px;
    cursor: pointer;
    background: none;
    border: none;
}

button i{
    font-size: 1.5em;
    color: white;
}

button:focus{
    outline: none;
}

#play{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: -5px;
}

.widget7 img {
    color: var(--green);
    height: 20px;
}

.cover-light {
    display: none;
}

/* MUZIEKSPELER WIDGET EINDE -------------------------------------------------------*/

.widget8 {
    grid-area: widget8;
}

/* main content einde -------------------------------------------------------*/

/* footer begint hier -------------------------------------------------------*/
.footer {
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    margin: 10px 10px 10px 10px;
    background-color: var(--green);
    border-radius: 25px 0px 25px 0px;
    border-style: solid;
    border-right: none;
    border-left: none;
    border-bottom: none;
    border-width: 8px;
    border-color: var(--darkgreen);
}

.footer div {
    color: white;
}

.fa-github {
    color: var(--darker);
}

/* footer einde -------------------------------------------------------*/