@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;900&display=swap');

/* darkmode colors */
:root {
    --darkerer : #1a1a1a;
    --darker: #202020;
    --dark: #292929;
    --green: #0b8e36;
    --white: #ffffff;
}

/* lightmode colors */
:root {
    --lighterer : #ffffff;
    --lighter: #f9f3f3;
    --light: #dddddd;
    --green: #0b8e36;
    --lightgreen: #3aaa35;
    --lightergreen: #94c11f;
}

body {
    font-family: 'Montserrat', sans-serif;  
    background-color: var(--darker); 
    color: var(--light);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* dark mode switch colors */
.header.color {
    background: var(--green);
}
.main.color {
    background: var(--light);
}

.side-nav.color {
    background: var(--white);
}

.footer.color {
    background: var(--green);
}
.widget.color {
    background: var(--white);
}

.zoeken.color {
    background: white;
}

.sidenav-list-item.color {
    color: black;
}

.sidenav-list-item.color:hover {
    background-color: var(--light);
}

.title-white.color {
    color: black;
}

.main-header-heading.color {
    color: black;
}

.main-header-updates.color {
    color: black;
}

.header__menu.color {
    color: white;
}

.fa-user-circle.color {
    color: white;
}

.zoek-text.color {
    color: black;
}
/* dark mode switch colors end */


::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: var(--green);
    border-radius: 10px;
}

::selection {
    color: #181818;
    background: var(--green);
}

.fas {
    color: var(--green);
}

.logo {
    width: 2.5rem;
    vertical-align: text-bottom;
}

.title-green {
    color: var(--green);
}

#title {
    margin-top: .6em;
}


.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr 50px;
    grid-template-areas:
      'header'
      'main'
      'footer';
    height: 100vh;
  }

 
/* header begint hier */
  .menu-icon {
    position: fixed;
    display: flex;
    top: 5px;
    left: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    z-index: 1;
    cursor: pointer;
    padding: 12px;
    color: var(--green);
  }

.header {
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    background-color: var(--dark);

}

#avatar {
    font-size: 1.5em;
    margin-right: .5em;
    cursor: pointer;
}

.zoeken {
    background: var(--darker);
    height: 20px;
    border-radius: 40px;
    padding: 10px;
}

.zoeken:hover > .zoek-text {
    width: 240px;
    padding: 0 6px;
}

.zoeken:hover > .zoek-button {
    color: var(--green);
}

.zoek-button {
    float: right;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    color: var(--green);
    cursor: pointer;
}

.zoek-button > i {
    font-size: 15px;
}

.zoek-text {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 14px;
    transition: 0.4s;
    line-height: 20px;
    width: 0px;
}
/* header einde */

/* sidenav begint */
.side-nav {
    grid-area: sidenav;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 240px;
    position: fixed;
    overflow-y: auto;
    transform: translateX(-245px);
    transition: all .6s ease-in-out;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    z-index: 2;
    background-color: var(--darkerer);
}

.side-nav.active {
    transform: translateX(0);
  }

.sidenav-close-icon {
  position: absolute;
  visibility: visible;
  top: 8px;
  right: 12px;
  cursor: pointer;
  font-size: 20px;
  color: var(--green);
}

.side-nav div {
    margin-left: .5em;
    font-weight: 600;
    font-size: 1.2em;
    cursor: pointer;
}

.sidenav-list {
    list-style: none;
    padding: 0;
    padding-top: 25px;
}

.sidenav-list-item {
    padding: 10px 10px;
    cursor: pointer;
}

.sidenav-list-item:hover {
    background: var(--darker);
}


.sidenav-list-item .fas {
    margin-right: 10px;
}

.switch-container {
    display: flex;
    justify-content: end;
    align-items: flex-end;
    transition: all .1s linear;

}

.switch-btn {
    width: 60px;
    height: 30px;
}

.btn-background {
    width: 60px;
    height: 30px;
    border-radius: 50px;
    background: var(--green);
    cursor: pointer;
    transition: all .1s ease;
}

.btn-face {
    position: relative;
    top: 2px;
    left: -12px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 1px 3px 3px 0 rgb(0, 0, 0, .2);
    transition: all .4s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.btn-face.move {
    transform: translateX(26px);
}


/* side nav einde */

/* main content begint hier */

.main-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

#welkom1 {
    font-weight: 500;
}

#welkom {
    font-weight: 800;
    font-size: 3em;
    color: var(--green);
}

.random {
    color: var(--green);
    font-size: 1.5em;
    font-weight: 800;
}

.main {
    grid-area: main;
    background-color: var(--darker);
}

.main-header {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding: 20px;
    height: 150px;
    background-color: var(--dark);
    color: white;
    border-radius: .5em;
}

.main-overview {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(265px, 1fr));
    grid-auto-rows: 150px;
    grid-gap: 20px;
    margin: 20px;
}

.overviewcard {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: var(--dark);
    border-radius: .5em;
}

.main-cards {
    column-count: 1;
    column-gap: 20px;
    margin: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: var(--dark);
    margin-bottom: 20px;
    -webkit-column-break-inside: avoid;
    padding: 24px;
    box-sizing: border-box;
    border-radius: .5em;
}

.card:first-child {
    height: 265px;
}

.card:nth-child(2) {
    height: 200px;
}

.card:nth-child(3) {
    height: 485px;
}
/* main content einde */

/* footer begint hier */
.footer {
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    background-color: var(--dark);
}
/* footer einde */

@media only screen and (min-width: 46.875em) {
    .grid-container {
      grid-template-columns: 240px 1fr;
      grid-template-areas:
        "sidenav header"
        "sidenav main"
        "sidenav footer";
    }
  
    .side-nav {
      position: relative;
      transform: translateX(0);
    }
  
    .sidenav-close-icon {
      visibility: hidden;
    }
  }

  @media only screen and (min-width: 65.625em) {
    .main-cards {
      column-count: 2;
    }
  }


  @media only screen and (max-width: 46.875em) {
    .zoeken{
        margin: 35px;
    }
  }